# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# OS files
.DS_Store

# Credentials and environment variables
*.env
*.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/

# Log files
*.log

chatbot2.py